extends layout

block content
  h1= title
  if posted
    if status
      a(href=link) link to file
    else
      p File upload failed for the reason below.
      p=reason
  else
    p This page allows you to upload images to https://hasthe.moe

  form(action="/upload", method="post", enctype="multipart/form-data" )
    input(type="file", name='file')
    br
    input(type="submit", value="submit")
